<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="#">Phones</a></li>
          <li role="presentation"><a href="#">Grocery</a></li>
          <li role="presentation"><a href="#">Drinks</a></li>
          <li role="presentation"><a href="#">Snacks</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="body">
          <table class="xyz">
            <tr>
              <th>product Name</th>
              <th>available items</th>
            </tr>
            <tr>
              <td>......</td>
              <td>......</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
      </div>
    </div>
  </div>
